body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.hide { display: none; }

.new-game {
  display: block;
  margin: 0 auto;
  font-size: 30px;
  background-color: #fff;
  cursor: pointer;
}

h1 {
  margin: 0;
  padding: 20px 0;
  font-size: 50px;
  text-align: center;
  border-bottom: 2px solid #000;
}

.hangman-gallow {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto 40px;
  /* border: 1px solid black; */
}

.hangman-gallow .gallow-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 150px;
  height: 4px;
  background-color: #000;
}

.hangman-gallow .gallow-left {
  position: absolute;
  left: 73px;
  bottom: 0;
  width: 4px;
  height: 300px;
  background-color: #000;
}

.hangman-gallow .gallow-corner {
  position: absolute;
  left: 74px;
  bottom: 273px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #000;
  transform: rotate(45deg);
}

.hangman-gallow .gallow-top {
  position: absolute;
  left: 73px;
  bottom: 300px;
  width: 150px;
  height: 4px;
  background-color: #000;
}

.hangman-gallow .gallow-right {
  position: absolute;
  left: 219px;
  bottom: 250px;
  width: 4px;
  height: 50px;
  background-color: #000;
}

.hangman-gallow .man-head {
  position: absolute;
  left: 197px;
  bottom: 205px;
  width: 40px;
  height: 40px;
  border: 4px solid #000;
  border-radius: 40px;
}

.hangman-gallow .man-torso {
  position: absolute;
  left: 219px;
  bottom: 105px;
  width: 4px;
  height: 100px;
  background-color: #000;
}

.hangman-gallow .man-left-arm {
  position: absolute;
  left: 196px;
  bottom: 160px;
  width: 4px;
  height: 50px;
  background-color: #000;
  transform: rotate(-60deg);
}

.hangman-gallow .man-right-arm {
  position: absolute;
  left: 242px;
  bottom: 160px;
  width: 4px;
  height: 50px;
  background-color: #000;
  transform: rotate(60deg);
}

.hangman-gallow .man-left-leg {
  position: absolute;
  left: 206px;
  bottom: 59px;
  width: 4px;
  height: 50px;
  background-color: #000;
  transform: rotate(30deg);
}

.hangman-gallow .man-right-leg {
  position: absolute;
  left: 232px;
  bottom: 59px;
  width: 4px;
  height: 50px;
  background-color: #000;
  transform: rotate(-30deg);
}

.hangman-word {
  min-height: 47px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 40px;
  border-bottom: 2px solid #000;
}

.hangman-word .word-letter {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #000;
}

.hangman-letters {
  margin-bottom: 40px;
  text-align: center;
}

.hangman-letters .letter {
  display: inline-block;
  padding: 5px;
  font-size: 40px;
  border: 2px solid #000;
  cursor: pointer;
}

.hangman-letters .letter:hover {
  box-shadow: 2px 2px #000;
}

.hangman-letters .letter.disabled {
  position: relative;
  cursor: not-allowed;
}

.hangman-letters .letter.disabled:hover {
  box-shadow: none;
}

.hangman-letters .letter.disabled:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
}
